*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

body{
    font-family: "Helvetica Neue",sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator{
    background-color: black;
    border-radius: 50px;
    color: white;
    height: 840px;
    width: 500px;
    padding: 20px;
    position: relative;
}

.display{
    height: 250px;
    width: 100%;
    text-align: right;
    padding: 20px;
    font-size: 100px;
}